.card{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-width: 25rem;
    min-height: 10rem;
    min-width: 25rem;
  
}
button{
    width: 100%;
}
.product-image
{
    position: relative;
    width: 50%;
    left: 30%;
    transition: 0.3s ease-in-out;
}
.product-image:hover
{ 
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}